html{
  
background-image: url(https://img.myloview.com/posters/stars-of-different-sizes-a-small-star-a-large-star-of-light-yellow-and-yellow-color-on-a-blue-background-seamless-pattern-vector-illustration-400-219438720.jpg);
    font-family: Georgia, serif;
}
p span{
    background-color: beige;

}
.deletebackground{
    background-color: rgba(255, 228, 173, 0.0);
}
.youtubebutton{
    margin-bottom: -5px;
}
ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    margin: 0; /* consider changing it */
    padding: 0; /* consider changing it */
   overflow: hidden;
 }

    li {
    float: left;
    }

    li a {
    display: block;
    color: rgb(134, 56, 56); /* currently overridden by the a{ selector bellow */
    text-align: center; /* consider changing it */
    padding: 14px 16px; /* consider changing it */
    margin-top: 20px;
    margin-right: 10px;/*consider changing it*/
    text-decoration:none; /* consider changing it */
    background-color: rgb(30,215,96); /* change it */
    border-radius: 20px;
    width:100px;
    height:100px;
 }
   
    li .meandhernav:hover{
    background-image:url(https://images.genius.com/d212e4a64223739399a888cf19cf5a58.280x286x1.jpg);
    background-size:cover; 
   }

   
   li .thinningnav:hover{
    background-image:url(https://media.pitchfork.com/photos/5970fb141a360c68408a98f2/1:1/w_600/habit_snail%20mail.jpg);
    background-size:cover;
   }

   li .happinessnav:hover{
    background-image:url(https://upload.wikimedia.org/wikipedia/en/0/0a/Taylor_Swift_-_Evermore.png);
    background-size:cover;
   }

   li .dontdeletethekissesnav:hover{
    background-image:url(https://upload.wikimedia.org/wikipedia/en/2/2c/Don%27t_Delete_the_Kisses.jpg); 
    background-size:cover;
   }
   
 li .coolaboutitnav:hover{
 background-image:url(https://upload.wikimedia.org/wikipedia/en/2/21/Boygenius_-_the_record.jpg);
 background-size:cover;
  }
 

a {text-decoration: none;
   
    }
    a:link, a:visited {
    color: rgb(149, 1, 68);
    }

    a:hover, a:active {
    color: rgb(255, 255, 255);
   }
h1{
    color: darkblue;
    font-size: 36px;
    text-align: center; 
    text-shadow:3px 2px rgb(255, 165, 165);
}


.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.thinningtext span{
    background-color:rgb(189, 208, 134);
   

}
.thinningtext {
    padding-left: 100px;
}

.column span{
background-color: beige;
}

.raingif{
    position: absolute;
    padding-top: 150px;
    top: 0;
    filter:drop-shadow(2px 2px 2px blue)
    
}
h2 { 
    color: rgb(253, 109, 109);
    font-size: 42px;
    margin: 0px, 0px;
    text-align: center;
}
h2 span{

    background-color: rgb(200, 212, 95);
    padding: 7px;
    color: rgb(255, 150, 177);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(94, 255, 0), 0 0 5px rgb(0, 175, 12);
}
h3{
    color: rgb(70, 70, 70);
    background-color:rgb(172, 182, 81);  
    padding: 5px;
    text-align: center;
}

.maintitle {
    text-align:center;
    background-color: rgb(255, 165, 165);
}
h4:hover{
    background-color: red;
}
h4 {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 183, 227);
    width:100px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
   
}
.sadwoman{
    filter:saturate(150%);
    margin-bottom:20px;
}


.listenonspotify:hover{
    filter:invert(100%);

}
.listenonspotify{
    margin-bottom: 10px;
}
.h4{
    margin-top: 20px;
}
.ihateher{
    color:rgb(0, 0, 0);
}
.ihateher span{
    background-color: rgb(252, 124, 175);
}
.thinningcover{
    padding-top:70px;
    padding-left: 30px;
    filter:saturate(120%);
    rotate: -10deg;
    box-shadow: 10px 10px 10px rgba(73, 128, 172, 0.791) ;
    
}
.imageplustext{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.happinesscoverimage {
    box-shadow: 10px 10px 10px rgba(73, 128, 172, 0.791) ;
    padding-top:-40px;
}
.dontdeleteedit{
    box-shadow: 10px 10px 10px rgba(73, 128, 172, 0.791) ;
}
.coolaboutitimageandtext{
    display:flex; 
    flex-direction:row;
    flex-wrap: wrap;
    gap: 100px;
}
.coolaboutitpicture {
     padding-top:70px;
    padding-left: 30px;
    filter:saturate(120%);
    rotate: -10deg;
    box-shadow: 10px 10px 10px rgba(73, 128, 172, 0.791) ;
}
.coolaboutitbackgroundcolor span{
    background-color: rgb(255, 195, 117);

}
.ihateherflex{
    display:flex; 
    flex-direction:row;
    flex-wrap: wrap;
    gap: 20px;
}
.ihaterherimage{
    box-shadow: 10px 10px 10px rgba(73, 128, 172, 0.791) ;
}
.dontdeletetext span{
    background-color: rgb(183, 255, 125);
}
.dontdeletetext{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}